<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <link href='./Content/fullcalendar.min.css ' rel='stylesheet' />
  <link href='./Content/fullcalendar.print.css ' rel='stylesheet' />
  <script src='./Scripts/moment.min.js'></script>
  <script src='./Scripts/jquery.min.js'></script>
  <script src='./Scripts/fullcalendar.min.js'></script>
  <script src='./Scripts/locale-all.js'></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- VUEJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- 參考資料: http://booking.tpsc.sporetrofit.com/Location/Reserve?LID=BTSC&CategoryId=Badminton -->
  <script>
    $(document).ready(function () {
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: ''
        },
        locale: 'zh-tw',
        weekNumbers: false,
        weekNumbersWithinDays: true,
        weekNumberCalculation: "ISO",
        selectable: false,
        selectHelper: false,
        editable: true,
        eventLimit: true // allow "more" link when too many events
      });

    });
  </script>
  <style>
    body {
      background: #F7F6ED;
      padding-top: 20px;
    }

    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <img class="jaspervillaxinyi-logo" src="http://www.jaspervillaxinyi.com.tw/web/res/zh_TW/D002/images/logo-pc.png">
    </div>
  </div>
  <div class="container" id="app">
    <form>
      <div class="form-group">
        <h4 class="row coach-label font-weight-bold">課程名稱</h4>
        <select class="form-control" name="selClass" id="selClass" v-model="formData.bookingClass"
          @change="jspClassChange()">
          <option value="請選擇">請選擇</option>
          <option v-for="(item,index) in jspClass" :value="item">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group body-content">
        <!-- <div id='calendar' style="background-color: #fff"></div> -->
      </div>
      <div class="form-group" v-if="formData.bookingClass !== '請選擇'">
        <h4 class="row coach-label font-weight-bold">課程介紹</h4>
        <div class="row">
          <div class="card card-coach col-md-12">
            <div class="card-body">
              <div class="thumbnail" style="background: url('/images/coach_moon.jpg') center top;"></div>
              <p class="card-text">
                {{jspClass[formData.bookingClass.index].content}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <h4 class="row coach-label font-weight-bold">姓名</h4>
        <input type="text" class="form-control" id="txtCustomerName" placeholder="請輸入姓名" required>
      </div>
      <div class="form-group">
        <h4 class="row coach-label font-weight-bold">電子郵件</h4>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="請輸入電子郵件" required>
        <small id="emailHelp" class="form-text text-muted">我們絕不會與其他任何人分享您的電子郵件。</small>
      </div>
      <div class="form-group">
        <h4 class="row coach-label font-weight-bold">聯絡電話</h4>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="請輸入聯絡電話" required>
      </div>
      <button type="submit" class="btn btn-primary">確認送出</button>
    </form>
  </div>
</body>

</html>
<script src="./Scripts/booking.js"></script>